#!/bin/sh

export FOLDER="." # why not make "." the default value if this variable is absent?
export TSB_FQDN="tsb.eitan.cx.tetrate.info"
export REGISTRY=us-central1-docker.pkg.dev/eitan-tetrate/tsb-repo
export ORG="tetrate"

